[2015-07-20 11:52] TIIUNDER opened #1 "Offer edit Spinner doesn't stop"
After editing an Offer, the spinner popup doesn't close.

![screenshot_2015-07-20-13 51 16-1](https://cloud.githubusercontent.com/assets/1225378/8775222/7d2d71e2-2ee6-11e5-9c55-5d3454bbfc30.png)

[2015-07-20 12:02] TIIUNDER opened #2 "Demand location not saved"
If you create a new demand, the location (lat, lon) doesn't get saved.

[2015-07-20 12:06] TIIUNDER opened #3 "Demand use distance out of Map"
At the moment new Demand saves the distance out of the form, not out of the map.

[2015-07-21 08:16] GammaG opened #5 "Redirect to homescreen when logout action"
we should include to prevent errors

[2015-07-21 08:17] GammaG opened #6 "No button available "back to homescreen""
I miss this button

[2015-07-21 08:17] GammaG opened #7 "Messages from user "Neeedo" will get a redirect to the SingleOfferView"

[2015-07-21 08:18] GammaG opened #8 "Homescreen"
Change layout to "Goldener Schnitt" level - means palce the buttons lower

[2015-07-21 08:33] GammaG opened #9 "Return from map shows a something went wrong toast"
this happens without an actual problem - just because of the return

[2015-07-21 08:35] GammaG opened #10 "Demands should tags should be optional"

[2015-07-21 08:42] TIIUNDER opened #11 "Show real matched offers in swiper"
Show real matched offers at demand detail view in swiper

[2015-07-21 08:43] TIIUNDER opened #12 "Redirect form submissions to detail views"
Redirect offer form submit to offer detail view instead of offer list
Same for demands

[2015-07-21 08:47] TIIUNDER commented on #7
The Neeedo user has the ID "Neeedo"
![screenshot_2015-07-21-10 46 50-1](https://cloud.githubusercontent.com/assets/1225378/8796554/d5ce247c-2f95-11e5-988c-cdad10bab5dd.png)

[2015-07-21 08:56] GammaG commented on #7
thanks

[2015-07-21 09:12] stephanlindauer opened #13 "release app in playstore"

[2015-07-21 09:25] GammaG commented on #7
new changes here, just show "you have a new match" and on click redirect to singleOfferview

[2015-07-21 10:32] GammaG opened #14 "Validation of passwords in registration process"
Add regex check, similar to the webapp

[2015-07-21 14:22] #6 closed

[2015-07-21 14:22] GammaG commented on #6
it's implemented

[2015-07-21 14:27] GammaG commented on #5
impemented

[2015-07-21 14:27] #5 closed

[2015-07-21 14:27] GammaG commented on #7
please someone with message from "Neeedo" user test this

[2015-07-21 14:31] GammaG commented on #9
is found and commented out

[2015-07-21 14:31] #9 closed

[2015-07-21 14:59] GammaG commented on #14
implemented

[2015-07-21 14:59] #14 closed

[2015-07-21 16:36] TIIUNDER opened #15 "Missing gallery buttons on some devices"
Next- and Previous buttons in image activity are missing on some devices

[2015-07-21 16:38] TIIUNDER opened #16 "Form Validations"
Form Validations for Offer and Demand forms

Demands: Some Validations are missing
Offers: Add onFocusCHangeListener like in Demands and add more validations

[2015-07-21 16:38] TIIUNDER opened #17 "Refactor Product Lists"
Refactor un-DRY code of offers, demands and favorites lists

[2015-07-21 16:39] TIIUNDER opened #18 "Single View nicer layout"
Single layout for Offers (maybe Demands also) like card or better use of white space

[2015-07-21 16:40] TIIUNDER opened #19 "Redirect to detail view after creation"
Redirect to single view after creation of demands and offers

[2015-07-21 16:41] TIIUNDER opened #20 "Better form layouts"
Add titles to forms, use hints as hint (instead of title)

Nicer layout, wording etc.

[2015-07-21 16:41] TIIUNDER opened #21 "Messaging layout"
Use own ListAdapter instead of current ArrayAdapter an toString output

[2015-07-21 16:46] TIIUNDER opened #22 "German Translation file"
Create translations string file and add first German translations

[2015-07-21 16:50] TIIUNDER commented on #7
works now

[2015-07-21 16:50] #7 closed

[2015-07-21 20:11] stephanlindauer opened #23 "set own location button in location chooser activity"

[2015-07-21 20:12] stephanlindauer commented on #23
done

[2015-07-21 20:12] #23 closed

[2015-07-21 20:12] stephanlindauer opened #24 "loading feedback in offers list"

[2015-07-21 20:26] stephanlindauer commented on #24
done

[2015-07-21 20:26] #24 closed

[2015-07-21 20:28] stephanlindauer opened #25 "change event type into proper type in ListDemandsFragment"

[2015-07-21 20:29] stephanlindauer opened #26 "loading feedback in demands list"

[2015-07-21 20:29] stephanlindauer commented on #26
done

[2015-07-21 20:29] #26 closed

[2015-07-21 20:37] stephanlindauer opened #27 "loading spinner favourites list"

[2015-07-21 20:37] #27 closed

[2015-07-21 20:43] stephanlindauer opened #28 "make star in action bar vector based"

[2015-07-21 20:44] stephanlindauer commented on #28
with sharp edges :)

[2015-07-21 21:57] stephanlindauer opened #29 "cant favourite from list offers"
![fav](https://cloud.githubusercontent.com/assets/1323145/8813484/2bccdf4e-3004-11e5-8de5-95749590e237.png)

[2015-07-21 21:58] #28 closed

[2015-07-21 21:58] stephanlindauer opened #30 "add webapp background"

[2015-07-21 21:58] #30 closed

[2015-07-21 21:59] stephanlindauer commented on #22
@TIIUNDER @GammaG before i get started please check the views etc for strings that arent referenced in the strings file

[2015-07-21 22:03] stephanlindauer commented on #22
@TIIUNDER will you first work on the german strings and then i'll translate or can you send me the notes on wording we decided on today?

[2015-07-21 22:05] stephanlindauer commented on #22
@TIIUNDER @GammaG also we need one person for double checking everything in english and one for german. my smartphone is set to english so i could check english.

[2015-07-21 22:11] stephanlindauer commented on #3
@TIIUNDER just to make sure: distance is irrelevant for new offers?

[2015-07-21 22:19] stephanlindauer commented on #3
@TIIUNDER dont answer. stupid question. ^^

[2015-07-21 22:45] stephanlindauer commented on #29
please also reference bugfix commit

[2015-07-21 22:54] stephanlindauer opened #31 ""define at least one tag" shows up even when at least one is defined"
![bug tag](https://cloud.githubusercontent.com/assets/1323145/8814383/2130937a-300c-11e5-875d-ea4622af79ad.png)

[2015-07-21 22:54] stephanlindauer commented on #31
should work even without the trailing comma

[2015-07-21 22:55] stephanlindauer commented on #3
what unit is expected? km? m?

[2015-07-21 22:56] stephanlindauer opened #32 "unknown error when successfully creating new demand"
![bug tag](https://cloud.githubusercontent.com/assets/1323145/8814418/849f7692-300c-11e5-9a75-a14b055dba97.png)

[2015-07-21 23:15] stephanlindauer opened #33 "mark unread conversations"
![image](https://cloud.githubusercontent.com/assets/1323145/8814641/18129f74-300f-11e5-9fdd-ef24f37e5415.png)

[2015-07-21 23:17] stephanlindauer opened #34 "show avatar with starting letter in nickname, last send message and maybe a topic"
like in the gmail app http://cdn.arstechnica.net/wp-content/uploads/2013/06/2013-06-07-14.14.30.png

[2015-07-21 23:18] stephanlindauer commented on #3
@TIIUNDER please doublecheck if it works as expected and close ticket

[2015-07-21 23:18] stephanlindauer commented on #2
@TIIUNDER please double check if changes fixed issue and close ticket

[2015-07-21 23:31] stephanlindauer commented on #1
removed the loading animation for now

[2015-07-21 23:31] #1 closed

[2015-07-21 23:34] stephanlindauer commented on #8
how much lower? please be more precise.
this should also include adding propper icons to those buttons

[2015-07-21 23:35] stephanlindauer commented on #19
why not redirect to the list?

[2015-07-21 23:38] stephanlindauer commented on #15
can we also have a back button for the first picture that redirects to the last image and vice versa?

[2015-07-21 23:38] stephanlindauer commented on #12
why not the list?

[2015-07-21 23:41] stephanlindauer opened #35 "unread message count behaves weirdly. goes up step by step within seconds and flickers sometimes."

[2015-07-21 23:43] stephanlindauer opened #36 "keep user that are not logged in from doing things. overlay?"

[2015-07-22 05:55] GammaG commented on #32
Well you removed
     etDistance.setText(String.valueOf(currentDemand.getDistance()));
in  EditDemandFragment which causes the update process to send a body without the distance attribute.
Which does not match the requirements of the api https://github.com/neeedo/neeedo-api#update-demand for the update process, causing a http 400. That  is displayed as "unkown error" due this isn't an error any us

[2015-07-22 05:58] GammaG commented on #29
Well that's means you aren't logged in and the action you make does require this, I would say we change the error message to "Please login to do that." or something in that kind.

Also how about we don't display the actions if the user isn't logged in?

[2015-07-22 06:35] GammaG commented on #36
I think it's a good idear

[2015-07-22 06:42] GammaG commented on #25
yeah ok I will create one

[2015-07-22 08:54] GammaG commented on #29
done

[2015-07-22 08:54] #29 closed

[2015-07-22 09:01] GammaG commented on #32
default distance 10 to entity class added. closed

[2015-07-22 09:01] #32 closed

[2015-07-22 09:09] GammaG opened #37 "On Edit Demand, if locationchooser isn't started causes application crash on submit"
java.lang.NullPointerException: Attempt to invoke virtual method 'double org.osmdroid.util.GeoPoint.getLatitude()' on a null object reference
            at neeedo.imimaprx.htw.de.neeedo.entities.util.Location.<init>(Location.java:27)
            at neeedo.imimaprx.htw.de.neeedo.fragments.FormDemandFragment.getLocation(FormDemandFragment.java:125)
            at neeedo.imimaprx.htw.de.neeedo.fragm

[2015-07-22 09:13] GammaG commented on #35
Ah maybe I know what you mean, if you open the conversation the counter decreases ? That's because on every successfull "set read" call to the api the message counter lowers by one and does a refresh. If we don't make that refresh can take up to 30 seconds.

[2015-07-22 09:14] GammaG commented on #34
Yeah we can make that, I guess you mean in the message fragment ?

[2015-07-22 09:20] GammaG commented on #8
I would say about 1-2cm around, I like the icons idear yeah

[2015-07-22 09:35] GammaG commented on #25
done

[2015-07-22 09:35] #25 closed

[2015-07-22 09:41] GammaG opened #38 "When creating/editing an demand - writing only one word as tag it forces you to put an "," in the end."
problem is you get no propper message as well it says: "put at least one tag" but nothing about a "," is missing
We have to make this clear for the user.

[2015-07-22 09:46] GammaG commented on #12
well both ok

[2015-07-22 09:48] GammaG commented on #38
duplicate -> https://github.com/neeedo/neeedo-android/issues/31

[2015-07-22 09:48] #38 closed

[2015-07-22 09:55] GammaG commented on #31
yep, also the error message does not make clear that a "," is missing.

[2015-07-22 10:11] GammaG commented on #22
placed all into strings.xml I could find.

[2015-07-22 10:12] TIIUNDER commented on #22
I will add English strings, at the end we can create the german strings version. I also will upload my notes from yesterday (German wording). There are still some views open, I will change some things (for example forms) Also: testing is no problem, you can easily switch the languages in emulator using the custom locale app.

[2015-07-22 10:16] TIIUNDER commented on #22
Wording notes: https://dl.dropboxusercontent.com/u/17564871/neeedo_wording_german.pdf

[2015-07-22 10:17] TIIUNDER commented on #36
We had the login activity open up in the past. But this wasn't nice. What's the alternative?

[2015-07-22 10:20] TIIUNDER commented on #19
It should be like this:

I create a demand → get to the correct detail view and can right away swipe through my matched offers

[2015-07-22 10:21] GammaG commented on #36
currently "You aren\'t allowed to do that. Please login before proceed." is displayed or just no content is displayed. In SingleOfferView I made all buttons visible = "GONE" when there is no active login.

[2015-07-22 10:23] GammaG commented on #36
due there is a redirect to the main fragment on the logout button, illegal actions shouldn't be possible to start. Because nearly every fragment loads all of its content while starting up and based upon the logged in user.

[2015-07-22 10:24] TIIUNDER commented on #8
Maybe colored buttons and also a nice background or background color. Maybe we should create a layout for tablets too

[2015-07-22 18:18] TIIUNDER commented on #3
Ok, it works

[2015-07-22 18:18] #3 closed

[2015-07-22 18:19] TIIUNDER opened #39 "Offer edit form lost location/distance information"
If I want to edit an offer, I have to reset the location and distance. The old distance and location are lost. For demands it works

[2015-07-22 18:20] #2 closed

[2015-07-22 18:45] TIIUNDER commented on #15
Buttons are visible now. Also navigation from last to first and first to last image is possible now.

[2015-07-22 18:45] #15 closed

[2015-07-22 18:55] #10 closed

[2015-07-22 18:55] #31 closed

[2015-07-22 19:39] TIIUNDER opened #40 "Demand delete button doesn't work"

[2015-07-22 19:47] TIIUNDER commented on #40
fixed by e3d48134b22e93b2ea0fcc7b28f80a77426d521d

[2015-07-22 19:47] #40 closed

[2015-07-22 19:49] TIIUNDER opened #41 "Delete local cached product at deletion out of list"
If I delete a Demand or Offer, I can see the item still in the list after redirection. I have to reload the list.

Is it possible to delete the local stored offer or demand out of the list?

[2015-07-22 19:59] GammaG commented on #41
shouldn't be a problem, just some new functions needs to be implemented. Did this already for offers

[2015-07-22 20:10] TIIUNDER commented on #8
What about this?
![screenshot_2015-07-22-22 08 18-1](https://cloud.githubusercontent.com/assets/1225378/8835984/35bb7050-30be-11e5-860f-2c79bfa709ad.png)

I tried to get the feeling of the webapp using the frame background. Colors for buttons just as idea. Maybe both can be green instead.

[2015-07-22 20:15] stephanlindauer commented on #8
love it!

[2015-07-22 20:15] stephanlindauer commented on #8
should we also put the icons in there?

[2015-07-22 21:56] TIIUNDER commented on #8
Yes, why not, we can try it

[2015-07-22 21:58] TIIUNDER commented on #37
This will be handled by form validation. For Demands it already works. https://github.com/neeedo/neeedo-android/issues/16

[2015-07-22 22:01] TIIUNDER commented on #34
https://github.com/neeedo/neeedo-android/issues/21

[2015-07-22 22:02] TIIUNDER commented on #33
You mean something like a "new" badge or marking it bold?

[2015-07-22 22:03] TIIUNDER commented on #33
https://github.com/neeedo/neeedo-android/issues/21

[2015-07-22 22:04] TIIUNDER commented on #16
Form Validations for demands should wokr pretty well now. For offers it's still open. It also needs some refactoring

[2015-07-22 22:11] TIIUNDER opened #42 "Use current location for map"
If we have time for this, we can try to implement the current location for the map. It would be nice to have focus on the current (maybe last known location?) on the location map chooser.

[2015-07-22 22:57] stephanlindauer commented on #33
yeap bold text would make sense

[2015-07-23 07:58] GammaG commented on #39
for demands it does not really work, I just set there a default of "10" in the Demand for distance- Entitty - which I guess is the same as you have choosen.

[2015-07-23 08:02] GammaG commented on #21
I made sure the usernames all start with a character btw, (regex in registration process)

[2015-07-23 09:29] GammaG opened #43 "When removing a second offer after first success remove app crashes"
Process: neeedo.imimaprx.htw.de.neeedo, PID: 22824
java.lang.IllegalStateException: The content of the adapter has changed but ListView did not receive a notification. Make sure the content of your adapter is not modified from a background thread, but only from the UI thread. Make sure your adapter calls notifyDataSetChanged() when its content changes. [in ListView(2131427497, class android.widget

[2015-07-23 09:30] GammaG commented on #41
remove now works with local cache and sets a state for the listeview to use cache instead of server data

[2015-07-23 10:15] GammaG opened #44 "Edit demand change price causes application crash"
07-23 12:13:52.152  30454-30454/neeedo.imimaprx.htw.de.neeedo E/AndroidRuntime﹕ FATAL EXCEPTION: main
    Process: neeedo.imimaprx.htw.de.neeedo, PID: 30454
    java.lang.NumberFormatException: Invalid double: "90,00"
            at java.lang.StringToReal.invalidReal(StringToReal.java:63)
            at java.lang.StringToReal.initialParse(StringToReal.java:164)
            at java.lang.StringToRea

[2015-07-23 13:23] TIIUNDER opened #45 "Delete image"
It would be nice to delete images of offers

[2015-07-23 17:02] GammaG commented on #45
there is no api option for that. The only thing you can do is create an offer draft remove the image from the list and sent that via update.

[2015-07-23 17:08] stephanlindauer commented on #45
this will be done in the backend if images are not referenced anymore. nothing for us to worry about.

[2015-07-23 17:09] GammaG commented on #19
I for that too, this can prevent having inconsistent data. Because of the api does not direct include the created offer to the list, so the information might isn't available and local cache can be wrong.
I currently add the created object to the cache in the model und the getter methode to the server just add the other ones. So it isn't twice in the list. Don't know if that's nice or not.

[2015-07-23 17:13] TIIUNDER commented on #45
No, I would like to be able to remove an image out o the image list of an offer. So, we need a button for each image, which removes the reference.

[2015-07-23 17:15] stephanlindauer commented on #45
aaaah. sorry! ;)

[2015-07-23 17:35] TIIUNDER commented on #44
Fixed by https://github.com/neeedo/neeedo-android/commit/ed8c7a1390ae9401bf8bbe10e9f11ab67c498a30

[2015-07-23 17:35] #44 closed

[2015-07-23 17:41] TIIUNDER commented on #41
When I try to delete an Offer or Demand it seams to get deleted in Sphere. But it stays in list and also reloading the list doesn't change that. Also it's not possible to deleting it anymore, because I get a 404 error (of course).

[2015-07-23 17:48] TIIUNDER commented on #43
I can't reproduce this. Also it seams, that the list doesn't get refreshed after deleting an offer/demand.

[2015-07-23 18:20] #16 closed

[2015-07-23 18:20] #37 closed

[2015-07-23 18:21] TIIUNDER commented on #41
Same problem for updated offers/demands. The old offer/demand stays in list, new offer/demand is just added.

[2015-07-23 18:21] TIIUNDER opened #46 "Gallery Image Activity with pinch to zoom"

[2015-07-23 19:06] TIIUNDER commented on #8
How about this?

![screenshot_2015-07-23-21 05 45-1](https://cloud.githubusercontent.com/assets/1225378/8859612/9e9c9976-317e-11e5-9e56-851ea92340e1.png)

[2015-07-23 20:30] stephanlindauer commented on #8
nice!

[2015-07-23 20:43] #8 closed

[2015-07-23 22:10] #20 closed

[2015-07-23 23:52] stephanlindauer opened #47 "editing images in edit offer view creates a new one"

[2015-07-23 23:52] TIIUNDER commented on #46
Works now :)

[2015-07-23 23:52] #46 closed

[2015-07-23 23:54] TIIUNDER commented on #47
Because of that issue: https://github.com/neeedo/neeedo-android/issues/41

[2015-07-24 00:00] stephanlindauer commented on #45
ok. done. should work properly as soon as #47 is resolved.

[2015-07-24 00:00] #45 closed

[2015-07-24 08:37] stephanlindauer commented on #13
https://play.google.com/store/apps/details?id=neeedo.imimaprx.htw.de.neeedo

[2015-07-24 08:37] #13 closed

[2015-07-24 08:40] stephanlindauer commented on #42
I'd say we have two different features here.
first: when map is first loaded center on last known location. -> done
second: have a button that starts the location listener and use the first location update with decent accuracy and set the location on the map. -> works so far but i want more visual feedback for the time its trying to find the location.

[2015-07-24 08:58] GammaG opened #48 "Create offer fails on serveral actions, causes application crash"
07-24 10:57:23.101  17356-17691/neeedo.imimaprx.htw.de.neeedo E/AndroidRuntime﹕ FATAL EXCEPTION: AsyncTask #9
    Process: neeedo.imimaprx.htw.de.neeedo, PID: 17356
    java.lang.RuntimeException: An error occured while executing doInBackground()
            at android.os.AsyncTask$3.done(AsyncTask.java:300)
            at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:355)

[2015-07-24 09:00] GammaG opened #49 "Edit offer add Image causes application crash"
07-24 10:59:15.346  19811-19811/neeedo.imimaprx.htw.de.neeedo E/AndroidRuntime﹕ FATAL EXCEPTION: main
    Process: neeedo.imimaprx.htw.de.neeedo, PID: 19811
    java.lang.RuntimeException: Parcel: unable to marshal value neeedo.imimaprx.htw.de.neeedo.utils.OfferImageUrl@3dbc4301
            at android.os.Parcel.writeValue(Parcel.java:1337)
            at android.os.Parcel.writeList(Parcel.java:711

[2015-07-24 09:01] GammaG commented on #47
ok I will take a look

[2015-07-24 09:02] stephanlindauer commented on #47
@GammaG dont. i am actually already working on it.

[2015-07-24 09:03] stephanlindauer commented on #47
@GammaG ah no. wrong issue. do take a look i am working on something else.

[2015-07-24 09:05] GammaG commented on #43
mh not on my device, I will test this on emulator

[2015-07-24 09:06] stephanlindauer commented on #43
@GammaG probably because things are time sensitive? *suprise

[2015-07-24 09:06] GammaG commented on #41
mh I will take a look, but don't know why it works on my device. Will test this in emulator

[2015-07-24 09:12] GammaG commented on #47
Was a cache problem, old one wasn't removed due update. Should work now

[2015-07-24 09:12] #47 closed

[2015-07-24 10:50] #49 closed

[2015-07-24 10:51] stephanlindauer commented on #48
please add information on how to reproduce this bug @GammaG

[2015-07-24 11:00] stephanlindauer opened #50 "After second delete in ListOffersFragment, adapterviews behaviour is inconsitent, due it does not recreate the list from cache."
i cant even get a stacktrace from logcat. the whole thing exits.

[2015-07-24 11:12] TIIUNDER commented on #41
It behaves really strange. Sometimes it works, sometimes I have to refresh the list and sometimes refreshing the list also doesn't help. Please check this screencast https://dl.dropboxusercontent.com/u/17564871/android_delete_bugs.mp4

[2015-07-24 11:13] TIIUNDER commented on #50
Yes, once I got an ArrayIndexOutOfBounce, other times it just behaves strange. I think this is linked to this issue https://github.com/neeedo/neeedo-android/issues/41

[2015-07-24 11:15] TIIUNDER commented on #43
The whole deleting stuff from https://github.com/neeedo/neeedo-android/issues/41 is not working like expected. Please find a clean solution for that, I think this problem will also disappear after that.

[2015-07-24 11:27] #39 closed

[2015-07-24 11:28] TIIUNDER opened #51 "Hide distance for offer location chooser"
For offers we don't need the distance. Can we hide the distance slider and overlay in the location chooser for offers?

[2015-07-24 11:32] TIIUNDER commented on #36
Maybe it's the easiest way to force every user, which starts the app, to login

[2015-07-24 11:39] stephanlindauer commented on #36
agreed. everything else would take up too much time now.

[2015-07-24 11:39] TIIUNDER opened #52 "Show location in detail views"
Is there an easy way to display locations in the single view? I would like to see where I can get my matched offers.

[2015-07-24 11:40] stephanlindauer commented on #52
do you mean inside the swipeable element?

[2015-07-24 11:41] TIIUNDER commented on #52
I think it's enough to see it in the detail view, for example if I open it out of my favorites list. Btw: is it possible to get to the detail view from the swiper (maybe by clicking the swipable card)?

[2015-07-24 11:42] stephanlindauer commented on #52
of the matched offer? yep.

[2015-07-24 11:44] TIIUNDER commented on #52
Yes, this would be perfect. After that we should able to see the location (maybe address, city or map - depends which is easier to implement) in the detail view

[2015-07-24 13:02] GammaG commented on #41
ok I will try to reproduce

[2015-07-24 13:24] GammaG opened #53 "After creating a new offer an exception happens, but seems to have no influence"
07-24 15:23:34.776    8759-8759/neeedo.imimaprx.htw.de.neeedo E/ActivityThread﹕ Activity neeedo.imimaprx.htw.de.neeedo.LocationChooserActivity has leaked IntentReceiver android.widget.AbsSeekBar$2@16ea09c2 that was originally registered here. Are you missing a call to unregisterReceiver()?
    android.app.IntentReceiverLeaked: Activity neeedo.imimaprx.htw.de.neeedo.LocationChooserActivity has leak

[2015-07-24 13:41] GammaG commented on #50
ListOffersFragment, seems not to reload after second delete action. That causes the list to be inconsitent due the element is removed from the list and api, but not from the adapterview in ListOffersFragment. After second delete onActivityCreated was never called.

[2015-07-24 13:47] GammaG commented on #48
wasn't able to reproduce it.

[2015-07-24 13:47] #48 closed

[2015-07-24 14:13] TIIUNDER commented on #50
moved it from onActivityCreated to onViewStateRestored, this gets called every time. But still it doesn't work 100% perfect.

[2015-07-24 14:24] TIIUNDER opened #54 "Logout Dialogue"
We should implement a Dialogue, which asks if you want to logout at pushing the logout button. I just logged out twice, because I accidentally double clicked on the confirm icon of the location chosser (which has the same position as logout button)

[2015-07-24 14:25] TIIUNDER commented on #53
It seems hard to reproduce. There seems to be a problem with location chooser. But It's still possible to create new offer, so no big problem.

[2015-07-24 14:26] TIIUNDER commented on #53
@stephanlindauer You can decide if we want to fix this, you can also set it to wontfix if you want

[2015-07-24 14:43] TIIUNDER opened #55 "Correct not found message for offer/demand deletion"
Please add a correct error message, if you try to delete an offer/demand, which does not exist anymore (error 404). At the moment you get "An unknown error occured". This should be something like "The offer/demand does not exist anymore" or something like this.

Easy way to reproduce: Launch the app and start the list for demands/offers. Delete an offer/demand in the webapp. Delete the same offer/

[2015-07-24 15:15] #54 closed

[2015-07-24 15:21] stephanlindauer commented on #53
i think i already fixed this by reworking the saveinstance stuff. would close this ticket. if the problem comes up again we can open it again.

[2015-07-24 15:21] #53 closed

[2015-07-24 15:43] TIIUNDER commented on #50
Ok, I found and removed the redirect which is redirecting to the lists. Now you can add an event which redirects after deleting operation is finished.

[2015-07-24 15:52] TIIUNDER commented on #50
I added the subscribers, you can see it at this commit: https://github.com/neeedo/neeedo-android/commit/7a1d7dbcb2b47b32675accdbc41ca433b211882b

Please check if this works for you and check if you have still to improve some code

[2015-07-24 15:54] TIIUNDER commented on #50
And please keep in mind: The API also works asynchronous. So I think it's good to remove the local cached item too. So I would keep this change, you did before. @GammaG

[2015-07-24 15:58] TIIUNDER opened #56 "Favorites list hide progress bar if no items found"
The progress bar keeps spinning in the favorites list, if there are no favorites available.

![screenshot_2015-07-24-17 57 11-1](https://cloud.githubusercontent.com/assets/1225378/8878809/80239012-322d-11e5-9365-78c9dc01049d.png)

[2015-07-24 16:52] #56 closed

[2015-07-24 18:48] TIIUNDER opened #57 "Back button of location chooser activity redirects to main fragment"
The back button at the top left of the Location chooser activity redirects to the main fragment, not to the last form fragment.

[2015-07-24 19:27] GammaG commented on #55
yeah I will add this.

[2015-07-24 19:30] GammaG commented on #50
yep I will keep that. But seems to work now

[2015-07-24 19:30] #50 closed

[2015-07-24 19:34] GammaG commented on #41
issue has been fixed

[2015-07-24 19:34] #41 closed

[2015-07-24 19:35] GammaG commented on #55
I will use "Your requested resource is not available anymore." as message.

[2015-07-24 19:37] GammaG commented on #43
closed because duplicate

[2015-07-24 19:37] #43 closed

[2015-07-24 19:40] GammaG commented on #55
Is added

[2015-07-24 19:40] #55 closed

[2015-07-24 21:08] TIIUNDER commented on #34
done :)

[2015-07-24 21:08] #34 closed

[2015-07-24 21:10] TIIUNDER commented on #33
Done

![screenshot_2015-07-24-23 09 51-1](https://cloud.githubusercontent.com/assets/1225378/8884710/1c6a65f6-3259-11e5-977a-0756bfe00de5.png)

[2015-07-24 21:10] #33 closed

[2015-07-24 22:45] #21 closed

[2015-07-25 09:34] GammaG commented on #33
looks nice

[2015-07-25 09:48] GammaG opened #58 ""new" in messages is not displayed, when reciving a new message"
I just tested this with sascha und the "new" sighn wasn't shown.
Do you check the "hasNewMessages" in user entity?

![2015-07-25 09 42 46](https://cloud.githubusercontent.com/assets/2648086/8888921/d34fdd1e-32c2-11e5-894d-21555d754d1b.png)

[2015-07-25 09:59] sasfeld opened #59 "Change background image"
The webapp background image was finally changed to : http://www.neeedo.com/images/noiseBG.png

Please change so we reach consistent look & feel.

[2015-07-25 10:01] TIIUNDER opened #60 "Messages fragment shows "no conversions found" on start"
This should only be displayed, if there are no conversions after loading.

[2015-07-25 10:13] TIIUNDER commented on #58
Yes, I'm calling the hasNewMessage getter. Maybe it doesn't work if this fragment is already open. Where do I have to notify the list to have changes?

[2015-07-25 10:16] GammaG commented on #58
@Subscribe
    public void getUsers(UserMessageContactsLoadedEvent userMessageContactsLoadedEvent)
in MessageFragment

[2015-07-25 10:30] GammaG commented on #58
wasn't able to reproduce

[2015-07-25 10:30] #58 closed

[2015-07-25 10:52] GammaG commented on #60
well yeah, but then we need some spinning wheel at least

[2015-07-25 10:53] GammaG commented on #60
I will change this to the point were it will displayed only if no conversations are available.

[2015-07-25 11:13] TIIUNDER commented on #60
fixed

[2015-07-25 11:13] #60 closed

[2015-07-25 11:14] TIIUNDER commented on #59
Webapp and Mobile teams are searching for a "Kork"-layout first

[2015-07-25 13:13] stephanlindauer opened #61 "own messages should be on the right. others on the left. like in all messaging apps."
![image](https://cloud.githubusercontent.com/assets/1323145/8889574/b468b570-32df-11e5-841f-e085c45fa54b.png)

[2015-07-25 13:14] stephanlindauer commented on #61
whatsapp for example
![image](https://cloud.githubusercontent.com/assets/1323145/8889577/e3765c50-32df-11e5-924c-8447f7de35ad.png)

[2015-07-25 13:43] TIIUNDER commented on #61
Ooops, you are right. I will fix this ;-)

[2015-07-25 14:05] #59 closed

[2015-07-25 14:14] TIIUNDER commented on #61
done

[2015-07-25 14:14] #61 closed

[2015-07-25 15:18] TIIUNDER opened #62 "OpenStreet map not displayed on some devices"
On some devices (emulators), the map of the location chooser is not displayed:

For example:
- Emulator Nexus 4
- API Level 19 (Google)

![screenshot_2015-07-25-17 16 40-1](https://cloud.githubusercontent.com/assets/1225378/8890035/0d6bd650-32f1-11e5-955b-f3b3195a3a80.png)

Same problem occured at testing from Stefan.

[2015-07-25 15:30] stephanlindauer commented on #62
but we are only talking about emulators here?

[2015-07-25 15:31] TIIUNDER commented on #62
Fixed issue by adding a SD card to the emulator (OSM needs external storage, of course)

[2015-07-25 15:31] #62 closed

[2015-07-25 15:32] TIIUNDER commented on #11
This seems to work now? Can we close the issue?

[2015-07-25 15:33] stephanlindauer commented on #11
lets leave it open. i need to add logiv for fav and dismiss and simply tapping on it. will work on that tomorrow.

[2015-07-25 15:34] TIIUNDER opened #63 "Adding favorites in swiper doesn't work"
If I swipe a card to the right, I get an "unknown error" toast message and 400 bad request error in log.

`07-25 11:31:57.230    1830-1872/neeedo.imimaprx.htw.de.neeedo W/RestTemplate﹕ POST request for "https://10.0.2.2:9443/favorites" resulted in 400 (Bad Request); invoking error handler
07-25 11:31:57.230    1830-1872/neeedo.imimaprx.htw.de.neeedo E/CreateFavoriteAsyncTask﹕ 400 Bad Request
    o

[2015-07-25 15:37] TIIUNDER commented on #11
OK, I created a new issue for fav here https://github.com/neeedo/neeedo-android/issues/63

Stefan would like to make a screencast tomorrow for presentation, so, swiping should work.
I will try to implement layout.

[2015-07-25 19:52] MeiSign opened #64 "Tag suggestion for demand form should tags"
When I enter tags in the should form field of the demand form. The tag suggestion api should be called with all the available tags from the must field and the should field. Otherwise the suggestions for the should form field are rather unrelated to the terms that have been selected before.

[2015-07-26 00:06] #18 closed

[2015-07-26 00:08] TIIUNDER opened #65 "Detail button and view for single demand view"
Add a button for showing more details. Hide Swiper, show details like tags, price etc. in single demand view

[2015-07-26 00:08] TIIUNDER opened #66 "Remove Favorite Confirm Dialog"

[2015-07-26 00:09] TIIUNDER opened #67 "Refresh messages list?"
Is it possible to refresh the messages list for getting some kind of chat feeling?

[2015-07-26 00:13] TIIUNDER opened #68 "Favorite Offer(s) displayed in my offers list"
If I go to the favorites list and I have favorites there and after that visit my offers list, the favorites are added to the offers list. This should not happen.

![screenshot_2015-07-26-02 10 39-1](https://cloud.githubusercontent.com/assets/1225378/8891901/ced1fb04-333b-11e5-8352-e8d7f50b725b.png)

You can also check this screencast: https://dl.dropboxusercontent.com/u/17564871/android_fav_offer_

[2015-07-26 00:16] TIIUNDER commented on #36
@GammaG maybe you can add this?

[2015-07-26 00:30] #57 closed

[2015-07-26 00:43] #64 closed

[2015-07-26 01:03] #66 closed

[2015-07-26 01:06] TIIUNDER opened #69 "Strip very long tag fields in offer/demand list views"
![screenshot_2015-07-26-03 05 40-1](https://cloud.githubusercontent.com/assets/1225378/8892061/48ffa780-3343-11e5-8aac-b435bc0fc74b.png)

[2015-07-26 01:19] TIIUNDER opened #70 "App crashes if I get back to demand swiper view from edit view"
Please check this screencast to reproduce the issue: https://dl.dropboxusercontent.com/u/17564871/android_demand_swiper_crash.mp4

[code]

[2015-07-26 01:21] TIIUNDER commented on #12
Duplicate of https://github.com/neeedo/neeedo-android/issues/19

[2015-07-26 01:21] #12 closed

[2015-07-26 07:33] GammaG commented on #68
oh ok I will take a look

[2015-07-26 07:38] GammaG commented on #67
mh bad we need the info when to reload and we don't get that very well. See like I do for the message counter

[2015-07-26 07:39] GammaG commented on #36
I will take a look

[2015-07-26 08:32] GammaG commented on #68
shouldn't happen again

[2015-07-26 08:41] GammaG opened #71 "When, following favorite to singleview the "star" still is uncollored, even through it is for sure in favorites"
I just saw it does know that it is a favorite. But it is unclear for the user because own would think the star would be colored out then.
And I don't think a dialog is needed there ^^ just remove it. The user will see if it was wrong and add it again.

[2015-07-26 08:42] GammaG commented on #71
I would say we use first methode and ignore the other cases, the api does not add them twice

[2015-07-26 08:49] GammaG commented on #36
maybe we should talk about this tuesday, I have an idear how to solve this, but I don't like it from usabillity viewpoint.

[2015-07-26 09:06] GammaG commented on #67
we just could refresh the messages by timer again.

[2015-07-26 09:07] GammaG commented on #67
How about some gesture like "drag it down" to reload like facebook messenger does.

[2015-07-26 09:08] GammaG commented on #63
I fixed that

[2015-07-26 09:08] #63 closed

[2015-07-26 09:10] GammaG commented on #19
We change this now? If we do I need to change some append conditions.

[2015-07-26 12:15] TIIUNDER commented on #22
Layout and stings file should be ready, we can start with translation

[2015-07-26 12:20] MeiSign opened #72 "Double tapping the map makes the app crash sometimes"
When you open the location view while creating an offer the app crashes sometimes when you double tap the map. Error log says:

     07-26 14:18:00.660  10452-10452/neeedo.imimaprx.htw.de.neeedo W/art﹕ Suspending all threads took: 23.020ms
     07-26 14:18:00.661  10452-10452/neeedo.imimaprx.htw.de.neeedo E/art﹕ Throwing OutOfMemoryError "Failed to allocate a 262156 byte allocation with 227991 fre

[2015-07-26 12:21] TIIUNDER commented on #71
I will exchange them, colored = favorite, uncolored = no favorite (like webapp)

[2015-07-26 12:22] TIIUNDER commented on #71
I think the dialog is needed, because if you un-fav an item, you have to find it again. So it's better to warn the user

[2015-07-26 13:02] TIIUNDER commented on #67
That's not that easy to implement. Is it possible to check it again every 30 seconds?

[2015-07-26 13:03] TIIUNDER commented on #11
I made some changes for the single view layouts, also for the swiper layout. Please check it and adjust if necessary

[2015-07-26 13:06] TIIUNDER opened #73 "Play Store Description text and screenshots"
Please add a short description text and some nice screenshot into the Play store for our App

[2015-07-26 13:07] TIIUNDER opened #74 "Add Google Play Store link into readme of project"

[2015-07-26 17:02] stephanlindauer commented on #22
done

[2015-07-26 17:02] #22 closed

[2015-07-26 17:03] stephanlindauer commented on #11
all done

[2015-07-26 17:03] #11 closed

[2015-07-26 17:03] stephanlindauer commented on #51
done

[2015-07-26 17:03] #51 closed

[2015-07-26 17:04] stephanlindauer commented on #35
i can show you on tuesday

[2015-07-26 17:06] stephanlindauer commented on #35
oops

[2015-07-26 17:17] stephanlindauer commented on #73
will do that on wednesday when we get closer to a final version and design

[2015-07-26 17:18] #74 closed

[2015-07-26 17:22] stephanlindauer commented on #72
what i can see when profiling the app:
- it doesnt look like a memory leak
- when there is a lot of scrolling then heap space peaks (which is normal)
- i can't see gc issues or even timeouts on my computer

what i did to semi-fix it was increase the heap size in the manifest.

with this it even seemed to work for stefan. i will close this for now and if we run into more trouble with this we will h

[2015-07-26 17:22] #72 closed

[2015-07-26 19:59] GammaG commented on #67
Well yes, but it will cause a lot of traffic and I'm unsure if it's worth that trouble.

[2015-07-26 20:01] GammaG commented on #71
Might be, but the dialog does not redirect you, doesn't it? So the user still can add it again.

[2015-07-26 20:25] GammaG opened #75 "Can we disable the submit button in creation views after first click?"
Well it does not have a negative effect, but because the reaction takes a while the user can click twice or more and will after the creation get serveral "unknown error" messages because of the 400 responses from the other clicks.
And this may has an negative effect on the usablility.

[2015-07-26 21:47] stephanlindauer commented on #52
done

[2015-07-26 21:47] #52 closed

[2015-07-27 09:59] TIIUNDER commented on #68
This still happens. I removed a favorite from list and now it is in the offers list again.

![screenshot_2015-07-27-11 58 30-1](https://cloud.githubusercontent.com/assets/1225378/8903259/f0a36a62-3456-11e5-9059-c7aeba3b828d.png)

[2015-07-27 10:02] GammaG commented on #75
should be the common behaviour. I just had this too, as I updated an existing offer.

[2015-07-27 10:02] TIIUNDER commented on #68
Sorry, I checked it again. Now it works.

[2015-07-27 10:02] #68 closed

[2015-07-27 10:20] TIIUNDER commented on #71
icons switched

[2015-07-27 10:26] TIIUNDER commented on #71
I don't know, why it redirects after removing a favorite into the offer list. I will check that.

[2015-07-27 11:16] #75 closed

[2015-07-27 11:20] TIIUNDER opened #76 "Open offer via click/tab on swiper card"
We already talked about that. If this is possible, please implement this.

[2015-07-27 11:22] stephanlindauer commented on #76
yep. will happen today.

[2015-07-27 11:27] TIIUNDER opened #77 "Demand edit loses distance information"
If I edit a demand and don't change the location, the demand loses the distance information and sets it to 0. It should be set to the value from before

[2015-07-27 11:31] TIIUNDER opened #78 "Confirming location in location chooser in demand form throws exception"
This App doesn't crash and the location is correct. But we get this error in the log. I think we had the same problem for demands, but there it works.

[code]

[2015-07-27 11:31] TIIUNDER opened #79 "Set limit for suggestion tag"
limit of 6

[2015-07-27 11:37] stephanlindauer commented on #78
so when exactly does this happen? doesnt happen on my emulator or device
probable fix: http://stackoverflow.com/questions/27254570/android-view-windowleaked-activity-has-leaked-window-android-widget-zoombuttons

[2015-07-27 11:38] stephanlindauer commented on #76
did happen just now. ;)

[2015-07-27 11:38] #76 closed

[2015-07-27 11:38] #77 closed

[2015-07-27 11:40] stephanlindauer commented on #70
i think this is something @GammaG should look into...

here is my stacktrace

07-27 13:39:08.486  31679-31708/neeedo.imimaprx.htw.de.neeedo W/RestTemplate﹕ POST request for "https://api.neeedo.com/matching/demand" resulted in 400 (Bad Request); invoking error handler
07-27 13:39:08.487  31679-31708/neeedo.imimaprx.htw.de.neeedo E/GetOffersToDemandAsyncTask﹕ 400 Bad Request
    org.springframework.

[2015-07-27 11:43] stephanlindauer commented on #78
when hitting the "checked" symbol in the upper right of the location chooser?

[2015-07-27 11:45] TIIUNDER commented on #78
Yes

[2015-07-27 11:45] TIIUNDER commented on #78
It happens only in the Offer form, not in Demand form

[2015-07-27 11:46] TIIUNDER commented on #78
SORRY! The other way around! in Demand form, not in offer form, sorry!

[2015-07-27 11:48] stephanlindauer commented on #78
ok. thx.

[2015-07-27 11:51] TIIUNDER commented on #79
The API does this now, so no fix for us

[2015-07-27 11:51] #79 closed

[2015-07-27 12:10] stephanlindauer commented on #78
still cant reproduce. can you check if my latest commit does the trick for you?

[2015-07-27 12:11] #69 closed

[2015-07-27 12:13] TIIUNDER commented on #78
Yes, it works now for me

[2015-07-27 12:19] TIIUNDER commented on #71
OK, the redirect happens, because the DeleteEvent asynctask is called. This event posts an event, which causes a redirect to the offers list, because this should happen when I delete the offer. So, if we want to remove this redirect we have to rewrite the event and/or asynctask

[2015-07-27 12:25] TIIUNDER opened #80 "Loading animation for loading images in offer detail view"

[2015-07-27 12:27] stephanlindauer commented on #80
also the layout is weird. i kinda already started this yesterday. will get this done today.

[2015-07-27 12:34] #17 closed

[2015-07-27 13:17] stephanlindauer commented on #78
<3 osmdroid

[2015-07-27 13:17] #78 closed

[2015-07-27 13:28] GammaG commented on #70
fixed

[2015-07-27 13:28] #70 closed

[2015-07-27 13:35] GammaG commented on #71
changed it to FavoriteRemoveFinishedEvent, you now have to change how it reacts @TIIUNDER

[2015-07-27 14:03] TIIUNDER commented on #71
removed confirm dialog, button change handled by event subscribers

[2015-07-27 14:03] #71 closed

[2015-07-27 14:10] TIIUNDER opened #81 "Min price default 0 if not set for new demands"

[2015-07-27 15:53] GammaG commented on #71
very nice

[2015-07-27 16:35] stephanlindauer commented on #80
done. please check if you like it. if not reopen ticket.

[2015-07-27 16:35] #80 closed

[2015-07-27 16:39] stephanlindauer opened #82 "After registration the single views have wrong not-logged-in state"

[2015-07-27 16:46] TIIUNDER commented on #82
Strange, how do you get an own offer? The own offers hide that button

[2015-07-27 16:47] stephanlindauer commented on #82
"List my Offers" :)

[2015-07-27 17:04] stephanlindauer commented on #42
@TIIUNDER please check if you like how it works. i'll close this for now.

[2015-07-27 17:04] #42 closed

[2015-07-27 17:10] stephanlindauer opened #83 "dismiss in swiper view"

[2015-07-27 17:12] stephanlindauer commented on #82
also happens when i send a message to migration user

[2015-07-27 17:12] stephanlindauer commented on #82
07-27 19:10:41.712    6728-6751/neeedo.imimaprx.htw.de.neeedo E/GetMessagesAsyncTask﹕ 404 Not Found
    org.springframework.web.client.HttpClientErrorException: 404 Not Found
            at org.springframework.web.client.DefaultResponseErrorHandler.handleError(DefaultResponseErrorHandler.java:76)
            at org.springframework.web.client.RestTemplate.handleResponseError(RestTemplate.java:590)

[2015-07-27 17:21] TIIUNDER commented on #82
@stephanlindauer I was not able to reproduce this issue. Please check the latest commit if the message button is still visible.

[2015-07-27 17:35] stephanlindauer commented on #82
![screenshot_2015-07-27-19-34-12](https://cloud.githubusercontent.com/assets/1323145/8913007/9a4f9a10-3496-11e5-9976-74d8071a40ae.png)

[2015-07-27 17:35] stephanlindauer commented on #82
Nope. Completely reinstalled an registered a New user.

[2015-07-27 17:37] TIIUNDER commented on #82
Are you sure this is your own offer? Also the fav-button should not be there and there should be edit and delete buttons

[2015-07-27 17:51] stephanlindauer commented on #82
yapp

[2015-07-27 18:05] TIIUNDER opened #84 "App crashes on photo landscape"
It looks like there is a problem with the orientation of phone.

[code]

[2015-07-27 18:10] stephanlindauer commented on #84
when and how?

[2015-07-27 18:10] GammaG commented on #82
that looks like the public view, because edit and delete are missing. So somehow the owership check must go wrong

[2015-07-27 18:12] TIIUNDER commented on #84
I just try to take a photo in the create offer view. The problem is my phone, the camera just spins the rotation around ^^ Not sure why, but this can be a problem on other devices to

[2015-07-27 18:21] TIIUNDER commented on #84
Please check this video I made
https://dl.dropboxusercontent.com/u/17564871/20150727_201252.mp4

[2015-07-27 18:28] GammaG commented on #82
Ah I managed to get this error too. Just works if you create a new user and without closing the app create a new offer.

[2015-07-27 18:28] TIIUNDER commented on #84
This seems to strongly depend which photo app you are using.

[2015-07-27 18:32] TIIUNDER commented on #82
I'm not able to reproduce this anywhere. Neither in emulators or on other test devices.
@GammaG can you check, if there is a way to double check the ownership of an offer?

[2015-07-27 18:36] TIIUNDER opened #85 "Sometimes I get double items (offers/demands) after editing in list"
Try some new demands/offers and edit them. Sometimes it happens, that you have the item 2 times in the list.

[2015-07-27 18:36] GammaG commented on #82
After registration userid in ActiveUser still is "" somehow.

[2015-07-27 18:36] TIIUNDER commented on #85
It's gone after refreshing the list, but this is not a nice behavior

[2015-07-27 18:38] GammaG commented on #82
guess I found it in PostCreateUpdateUserAsyncTask 2 lines were in the wrong order.

[2015-07-27 18:44] TIIUNDER commented on #84
Using an other photo app (OpenCamera) seems to avoid this bug, but it still should be fixed

[2015-07-27 18:50] TIIUNDER commented on #82
Ah, ok, now I was able to reproduce. After registering this happens, after login it works as expected.

[2015-07-27 18:54] GammaG commented on #82
found it. Problem was user registration model does not return the password again, due that password in active user was always "". Because of that evey userCredentialsAvailable() request will deliver false and because of that the owercheck didn't even start. I temporarly save now the password and set it in the return model. After that I fill active user.

should work now
@TIIUNDER login uses an oth

[2015-07-27 18:54] #82 closed

[2015-07-27 19:01] stephanlindauer commented on #84
i dont know if we can influence the behaviour of other apps. the weird thing is that you can see neeedo in horizontal mode before it crashes which should never happen due to the fact that set android:screenOrientation="portrait" in the manifest.

[2015-07-27 19:03] TIIUNDER commented on #84
Yes, that's really strange. So we will need an orientation configuration f**\* Android fix

[2015-07-27 19:07] stephanlindauer commented on #84
i am assuming that its destroyig the activity in the background and we dont properly restore state.

[2015-07-27 19:31] stephanlindauer commented on #84
can you try again?

[2015-07-27 19:31] stephanlindauer commented on #84
whats the name of the camera app you're using?

[2015-07-27 19:33] GammaG commented on #85
redirect seems not to wait for my event. I made an hackaround like in removing, but would be better if redirect would wait for the event to finish. Eventually I have to create new EventTypes then.
Now there might missing a entity in the list when an error happen. (It is there from backup but not shown eventually.)

[2015-07-27 19:39] TIIUNDER commented on #84
Still crashes. It's the dafault camera app of Samsung (Galaxy S4 Mini)

[2015-07-27 19:40] TIIUNDER commented on #85
It redirects after it gets the ServerResponseEvent (from BaseAsyncTask)

[2015-07-27 19:41] GammaG commented on #85
mh but sometimes without the old one removed, how it seems :/

Well can you try again with my changes ?

[2015-07-27 19:43] TIIUNDER commented on #85
problem still occurs

[2015-07-27 19:45] GammaG commented on #85
I will look tomorrow ok

[2015-07-27 19:48] TIIUNDER commented on #85
Ok, I tested it several times now and it worked. Maybe it's working now, but I'm not sure.

[2015-07-27 20:13] stephanlindauer commented on #84
i am officially out of ideas

[2015-07-27 20:22] stephanlindauer commented on #84
can you check again?

[2015-07-27 20:24] stephanlindauer commented on #84
what happens if you breakpoint into the onCreateView onCreate and onViewStateRestored

[2015-07-27 20:50] stephanlindauer opened #86 "Cant edit or deletemy own offers anymore"
![screenshot_2015-07-27-22-49-22](https://cloud.githubusercontent.com/assets/1323145/8917344/c616cac2-34b1-11e5-99df-2edb8baca629.png)

[2015-07-27 21:07] TIIUNDER commented on #85
Stephan confirmed this bug

[2015-07-27 21:08] stephanlindauer commented on #85
still buggy for offers

[2015-07-27 21:09] stephanlindauer commented on #85
![screenshot_2015-07-27-23-07-07](https://cloud.githubusercontent.com/assets/1323145/8917783/7b84e3b0-34b4-11e5-8636-0c5652e383d1.png)

[2015-07-27 21:18] GammaG commented on #86
what I can see in hipchat it works niw, there were information missing in active user after registration, that's why

[2015-07-27 21:18] #86 closed

[2015-07-27 21:19] stephanlindauer commented on #86
yep

[2015-07-27 21:19] GammaG commented on #85
meh, ok I will search tomorrow which side effect I don't see

[2015-07-28 07:55] GammaG commented on #85
I just fixed this

[2015-07-28 08:22] GammaG commented on #85
hope this time it works longer xD

[2015-07-28 08:39] GammaG commented on #85
adapter seems not to clear correct, maybe a notify is missing?

[2015-07-28 08:41] stephanlindauer commented on #85
please research .notifyDatasetChanged(); Tuesday, 28 July 2015, 10:39AM +02:00 from mseidler < notifications@github.com> :

[2015-07-28 08:54] GammaG opened #87 "We should improve how the barcode scanner creates the tags from the given string"
currently it is just split("[ ]+")

[2015-07-28 08:54] GammaG commented on #67
will not be implemented

[2015-07-28 08:54] #67 closed

[2015-07-28 09:04] TIIUNDER opened #88 "Add list view headlines"

[2015-07-28 09:38] GammaG commented on #36
several changes were made

[2015-07-28 09:38] #36 closed

[2015-07-28 11:26] GammaG commented on #87
I just did this

[2015-07-28 11:26] #87 closed

[2015-07-28 11:29] GammaG commented on #65
you have this, when clicking the image

[2015-07-28 11:38] GammaG commented on #85
I think I fixed this, but please check again

[2015-07-28 12:07] GammaG commented on #85
is checked works now. It was "notifyDatasetChanged" but the other way. It existed and had to be removed.

[2015-07-28 12:43] GammaG commented on #35
does work now

[2015-07-28 12:43] #35 closed

[2015-07-28 13:51] stephanlindauer commented on #83
done.
please give it a spin if you have time.
 @TIIUNDER @GammaG

[2015-07-28 13:51] #83 closed

[2015-07-28 13:54] stephanlindauer commented on #84
lets just use the other app and close this ticket? @TIIUNDER

[2015-07-28 13:57] stephanlindauer commented on #19
@TIIUNDER @GammaG
lets not do this. discuss! ;)

[2015-07-28 13:59] stephanlindauer opened #89 "utf-8 issue"
E:\workspaces\androidstudio\neeedo-android\app\src\main\java\neeedo\imimaprx\htw\de\neeedo\rest\outpan\GetOutpanByEANAsyncTask.java
Error:(86, 29) error: unmappable character for encoding UTF-8
Error:(86, 39) error: unmappable character for encoding UTF-8
Note: Some input files use or override a deprecated API.
Note: Recompile with -Xlint:deprecation for details.
Note: Some input files use uncheck

[2015-07-28 14:05] GammaG commented on #89
is fixed, added encoding in build.gradle

[2015-07-28 14:05] #89 closed

[2015-07-28 14:06] TIIUNDER commented on #19
Yes, let's skip this. To much work for a small feature and high potential for new bugs ;-)

[2015-07-28 14:08] TIIUNDER commented on #65
This task is about having a detail single view like offers without swiper. But it's not that important. I think we can skip this feature

[2015-07-28 14:08] #81 closed

[2015-07-28 15:44] GammaG commented on #19
jop would have a lot of sideeffects ^^

[2015-07-28 15:44] #19 closed

[2015-07-28 18:25] #65 closed

[2015-07-28 18:47] TIIUNDER commented on #85
Nope, problem still occurs

![screenshot_2015-07-28-20-46-21](https://cloud.githubusercontent.com/assets/1225378/8940376/e377f254-3569-11e5-8a5a-41950c70cce9.png)

[2015-07-28 18:49] TIIUNDER commented on #85
Also, reloading the list now keeps double items.

[2015-07-28 18:55] TIIUNDER commented on #85
Reloading the offer list refreshes it correct and removes double item. But demand list not.

[2015-07-28 19:14] #88 closed

[2015-07-28 19:22] TIIUNDER commented on #84
ok

[2015-07-28 19:22] #84 closed

[2015-07-28 20:03] TIIUNDER opened #90 "App crashes after suspend"
If I close the app via home button and don't touch the device for several minutes, the App crashes

[code]

[2015-07-28 20:21] #90 closed

[2015-07-28 20:39] TIIUNDER opened #91 "Rotating Image Activity loses current image"

[2015-07-28 20:59] #91 closed

[2015-07-28 23:35] TIIUNDER opened #92 "Forced Login only works on Android 4.x"
If I start the App without user in Android 4.x, I get forced to log in. On Android 5.x this does not happen. This should be consistent!

[2015-07-28 23:41] TIIUNDER commented on #92
Sorry, my emulator misbehaved. Works!

[2015-07-28 23:41] #92 closed

[2015-07-28 23:47] TIIUNDER opened #93 "Going back through app shows blank page one step before close"

[2015-07-29 00:58] stephanlindauer commented on #73
done

[2015-07-29 00:58] #73 closed

[2015-07-29 00:59] stephanlindauer commented on #93
maybe the login activity at the beginning of the history stack?

[2015-07-29 06:59] GammaG commented on #85
![bibjb](https://cloud.githubusercontent.com/assets/2648086/8951667/ecb44280-35cf-11e5-8b5d-07895dfb12d8.PNG)
I just checked this, here I edited "tune up" and it is just one time in the list. Nevertheless I get it displayed twice. I have no idear anymore ..

[2015-07-29 07:11] GammaG commented on #85
I just tried to clear the adapter and to add the list again and change notifies location. But no use either not displayed at all or no changes. @TIIUNDER @stephanlindauer if you guys have an idear feel free to try. It is not the list the values are valid, must be something about the view.

[2015-07-29 07:22] GammaG commented on #85
@TIIUNDER the only possibility is that some of you adapters has a problem.

[2015-07-29 07:32] GammaG commented on #85
I replaced that with an other problem, but I think the problem is again the redirect comes before the result is there. @TIIUNDER  maybe you can take a look?

[2015-07-29 07:34] GammaG commented on #85
can we redirect that to details view maybe ? Then we can get that by getById

[2015-07-29 10:06] stephanlindauer commented on #85
did none of those things work: https://www.google.de/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=double%20items%20android%20adapter%20list

[2015-07-29 10:06] stephanlindauer commented on #85
?

[2015-07-29 10:57] GammaG commented on #85
I made some tries, changed the way the ArrayAdapter fills in the information. Seems to work now, but please test this on your devices. @stephanlindauer @TIIUNDER

[2015-07-29 11:01] GammaG commented on #93
well I even managed to crash the app using back button 5x times or so. Somewhere was a null pointer

[2015-07-29 11:30] stephanlindauer commented on #93
stacktrace?

[2015-07-29 14:12] TIIUNDER commented on #85
For offers it seems to work, but demands is still buggy. Please check this comment https://github.com/neeedo/neeedo-android/issues/85#issuecomment-125713772

Since that comment there is a problem that also reloading the list doesn't help

![screenshot_2015-07-29-16-09-48](https://cloud.githubusercontent.com/assets/1225378/8959691/8d4975bc-360c-11e5-965f-73d6d20411c2.png)

[2015-07-29 14:40] TIIUNDER commented on #93
Two problems here: First, just go some steps back and you will get a blank page (I will create a screencast and check the issue)

Second: Going back can cause NullPointer exceptions, for example going back to a form, where the item doesn't get the geolocation anymore. Maybe we can catch NullPointers globally somewhere.

[2015-07-29 14:41] stephanlindauer commented on #85
also @GammaG remember yesterday when i told you why you should not call notifyDataSetChanged() before you you assigned the adapter to a list?

[2015-07-29 14:43] GammaG commented on #85
that wasn't what was wrong. I now use an other style.

[2015-07-29 14:52] GammaG commented on #85
seems to be fixed - this time for real

[2015-07-29 14:53] GammaG commented on #93
something about null pointer in lat attribute. Guess it wanted to go back to editview

[2015-07-29 14:53] stephanlindauer commented on #85
what kind of style is that? the way you are using the custom adapter is wrong.

[2015-07-29 14:54] TIIUNDER commented on #93
Screencast of Blank page: https://dl.dropboxusercontent.com/u/17564871/android_demand_back_blankpage.mp4

[2015-07-29 14:58] TIIUNDER commented on #93
- [x] Blank page backstack
- [x] NullPointer in Edit Forms

[2015-07-29 15:07] stephanlindauer commented on #93
maybe we can add this to our main activity. what do you think?

http://stackoverflow.com/questions/24277241/exit-app-when-press-back-button-in-activity-with-multiple-fragments-in-navigatio

[2015-07-29 15:15] TIIUNDER commented on #93
Ok, I think I fixed the most NullPointers, I will check the blank page issue.

@stephanlindauer @GammaG Maybe you can test the back history if you still get Exceptions somewhere

[2015-07-29 15:23] #93 closed

[2015-07-29 15:37] stephanlindauer commented on #93
i still get the white page. dont you?

[2015-07-29 15:39] TIIUNDER commented on #93
No, actually this should be fixed. I also implemented a confirm Toast message before closing the App right now.

[2015-07-29 15:41] stephanlindauer commented on #85
loading spinner is still broken. please fix.

[2015-07-29 15:44] stephanlindauer commented on #93
ah ok. is tried the stack overflow way and it would have also worked. should we maybe display something like that before we call finish():

 new AlertDialog.Builder(this)
                    .setTitle("Close App?")
                    .setMessage("Do you really want to close this beautiful app?")
                    .setPositiveButton("YES",
                            new DialogInterface.OnClickL

[2015-07-29 15:44] stephanlindauer commented on #93
argh formating. but you get the point.

[2015-07-29 15:46] TIIUNDER commented on #93
Ah ok, the way I did was also inspired by your post, but I saw some Apps in the past doing it using the Toast message, which I think is a very elegant and easy way :-)

[2015-07-29 15:46] TIIUNDER commented on #93
Do you still get the blank page? I think this should not happen again, because we added the first fragment on the backstack at the beginning. I removed the line which did that.

[2015-07-29 15:48] TIIUNDER commented on #85
@stephanlindauer How and where do you get this issue? I can not reproduce this

[2015-07-29 15:48] stephanlindauer commented on #93
yep works. perfect.

[2015-07-29 15:56] TIIUNDER commented on #85
Ok, I have the same problem, loading an empty list shows message and spinner

[2015-07-29 15:57] stephanlindauer commented on #85
just load an empty demands or offers list

[2015-07-29 17:59] TIIUNDER opened #94 "Zooming to fast in LocationChooser causes App to crash"
If you zoom very fast and very deep into the OpenStreetMap, the App crashes with following message

```07-29 19:57:41.645    8580-8600/neeedo.imimaprx.htw.de.neeedo A/libc﹕ Fatal signal 11 (SIGSEGV), code 1, fault addr 0x78 in tid 8600 (RenderThread)```

Tested on different devices

[2015-07-29 18:09] TIIUNDER commented on #94
This only seems to happen on demand location chooser, if you defined the point and distance already and see the distance overlay

[2015-07-29 18:15] TIIUNDER commented on #94
You can see it here:

Demands problem with overlay: https://dl.dropboxusercontent.com/u/17564871/20150729_201031.mp4
No problem for offers: https://dl.dropboxusercontent.com/u/17564871/20150729_201135.mp4

I also noticed, at offers location chooser the marker pin is shrinking and growing at each zoom step. In demands location chooser the marker becomes bigger or smaller.

[2015-07-29 21:51] GammaG commented on #85
ah yeah I know why this happens

[2015-07-29 21:55] TIIUNDER commented on #94
This is really an ugly bug. I tried to draw the polygon only in Map bounding box, but this looks not very nice. Maybe you can check that.

[2015-07-29 23:38] stephanlindauer commented on #94
for me it just stops drawing when i zoom in too close.
before it stops drawing its suuuuuuper laggy.
also the new logic says if there are coords outside of the bounding box. dont draw them. so zoomed into the center of the circle you wouldnt have any coordinates to render anymore because all of them would be outside the bounding box. am i right?

[2015-07-29 23:45] stephanlindauer commented on #94
how about this: we check the shown area in the bounding box. diagonally and then if that distance is bigger than the actual distance of the circle, we just dont draw the circle anymore.

[2015-07-30 08:33] GammaG commented on #85
I made the changes, should work now.

[2015-07-30 08:38] GammaG commented on #94
might be the best solution.

[2015-07-30 08:44] #85 closed

[2015-07-30 09:39] stephanlindauer commented on #94
@TIIUNDER
what do you think?
will work on that when i get to uni. around 15:00.

[2015-07-30 10:31] TIIUNDER commented on #94
@stephanlindauer Yes, this should be easy, tested it yesterday with diagonal length, this should work. I tried to find a better solution, but it's to laggy and does not look very good. So let's do it like you said.

[2015-07-30 18:18] TIIUNDER commented on #94
We have still a problem here: Zooming in and after that setting the marker causes the app to crash like before

[2015-07-30 18:39] TIIUNDER commented on #94
This does not happen everytime, it happened 3 times now for me on 2 devices, but I'm not able to reproduce this issue

[2015-07-30 19:25] #94 closed